*.o
*.a
*.swp
minishell
a.out
*.check
tests/bin
tests/bash_out
tests/bash_err
tests/leaks_output
tests/minishell_out
tests/minishell_err
tests/minishell_outfile
tests/minishell_stdout
tests/bash_outfile
tests/bash_stdout
minishell-tester
tags
*.gdb_history
*.dSYM
